/**
 * CSS Document
 */

html {
	background: #7F796C;
	font: 13px Arial;
}
 
.container {
	width: 300px;
	margin: 50px auto;
	background: #fff;
	padding: 6px;
	border: 2px solid #ccc;
}

legend,
.label {
	font-size: 16px;
	font-weight: bold;
	color: #333;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
}

fieldset {
	border: none;
}

.container, label {	
	background: -moz-linear-gradient(top,  #F7F7F7 0%, #E5E5E5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#E5E5E5));
	background: -webkit-linear-gradient(top,  #F7F7F7 0%,#E5E5E5 100%);
	background: -o-linear-gradient(top, #F7F7F7 0%,#E5E5E5 100%);
	background: -ms-linear-gradient(top, #F7F7F7 0%,#E5E5E5 100%);
	background: linear-gradient(top bottom, #F7F7F7 0%,#E5E5E5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#E5E5E5',GradientType=0 ); /* IE6-9 */
	padding: 10px;
	border: 1px solid #B4B4B4;
	border-radius: 10px;
}

.container {
	border: 4px solid #666;
	width: 300px;
	margin: 50px auto;
	min-height: 200px;
}

label {
    color: #333;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
	text-align: right;
    margin-bottom: 20px;
}

input {
	border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px;
    width: 185px;
}

button, 
.result {
	border-radius: 10px;
}

button {
    -moz-transition: background-position 1s ease 0s;
    background-clip: border-box;
    background-image: url(images/button_bg.png), url(images/button_bg.png), -moz-radial-gradient(center bottom , circle , #E8BD2D 0pt, rgba(232, 189, 45, 0) 100px), -moz-linear-gradient(#F1982F, #D4821F);
	 background-image: url(images/button_bg.png), url(images/button_bg.png), -webkit-radial-gradient(center bottom , circle , #E8BD2D 0pt, rgba(232, 189, 45, 0) 100px), -webkit-linear-gradient(#F1982F, #D4821F);
    background-position: left bottom, right top, 0 0pt, 0 0;
    background-repeat: no-repeat;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    padding: 8px 25px;
    border: 1px solid #BEA280;
    color: #fff;
	font-weight: bold;
	margin: 0 auto;
}

button:hover {
    background-image: url(images/button_bg.png), url(images/button_bg.png), -moz-radial-gradient(center bottom , circle , #F1C034 0pt, rgba(241, 192, 52, 0) 100px), -moz-linear-gradient(#F9A746, #E18F2B);
	background-image: url(images/button_bg.png), url(images/button_bg.png), -webkit-radial-gradient(center bottom , circle , #F1C034 0pt, rgba(241, 192, 52, 0) 100px), -webkit-linear-gradient(#F9A746, #E18F2B);
	background-position: left top, right bottom, 0 0pt, 0 0;
}

.content-result {
	text-align: center;
}

.content-result .result {
	width: 70px;
	background: #F2F4F6;
	display: block;
	font-size: 24px;
	color: #EFAF37;	
	padding: 12px 15px;
	margin: 0 auto;
	box-shadow: 3px 3px 4px 0 #CCC;
}